<footer class="foot">
  <div class="container">
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        <div class="footer-colum-text">
          <h1>{{ block.settings.heading }}</h1>
          <p>{{ block.settings.text }}</p>
        </div>
      {% elsif block.type == 'image_picker' -%}
        <div class="img">
          {{
            block.settings.image
            | image_url: width: 20
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        </div>
        <div class="txt">
          <p>{{ block.settings.richtxt }}</p>
        </div>
      {% endif %}
    {% endfor %}
    <button class="btn" style="padding:auto ,width:350px;">REQUESTCONSULTAION</button>
  </div>
</footer>

<style>
     .container{
       background-color:#1a243f;
       color:white;
       display: flex;
       height:50px;
       padding-left:5px;
       padding-right:5px;
       justify-content:space-between;
       flex-direction: row;
  }
     .img{
       display:flex;
       margin-top:20px;
     }
     .img:hover{
       font-weight:bold;
     }
     .btn{
         background-color:#ad9779;
         color:#ffffff;
         font-size:15px;
         width:500px;
         border-style:none;
         margin:0;
       /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: flex;
    flex-wrap: wrap;

     }

     .txt:hover{
       font-weight:bold;
     }
</style>

{% schema %}
{
  "name": "custom-text-block",
  "settings": [
    {
      "type": "text",
      "id":"heading",
      "label":"Heading"
    },
    {
          "type":"richtext",
          "id":"text",
          "label":"Add text"
        }

  ],
  "max_blocks":10,
  "blocks":
  [

    {
      "type":"image_picker",
      "name":"image",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"select image"
        },
        {
          "type":"richtext",
          "id":"richtxt",
          "label":"Add text"
        }

      ]
    }

   ],
  "presets" :[
    {
      "name":"custom text block"
    }
  ]
}
{% endschema %}
